.account_selector {
    -fx-background-color: #ECF39E;
}
.account_selector .label {
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
}

.account_selector .arrow {
    -fx-background-color: #132A13;
}

#choice-box-popup-menu {
    -fx-background-color: #ECF39E;
}

